@charset "UTF-8";
* nav {
  background-color: #2fcfcf;
  height: 80px;
  width: 100%;
  z-index: 2;
}
* nav .enlace {
  position: absolute;
  padding: 10px 50px;
}
@media (max-width: 952px) {
  * nav .enlace .enlace {
    padding-left: 10px;
  }
}
* nav .logo {
  position: absolute;
  width: 60px;
}
* nav ul {
  float: right;
  margin-right: 20px;
}
@media (max-width: 852px) {
  * nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 3;
  }
}
* nav li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
@media (max-width: 852px) {
  * nav li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
}
* nav a {
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
@media (max-width: 952px) {
  * nav a {
    font-size: 16px;
  }
}
@media (max-width: 852px) {
  * nav a {
    font-size: 20px;
    z-index: 2;
  }
}
* nav li a.active,
* nav li a:hover {
  background-color: #000090;
  transition: 0.5s;
  z-index: 2;
}
@media (max-width: 852px) {
  * nav li a.active,
  * nav li a:hover {
    background: none;
    color: red;
    z-index: 2;
  }
}
* nav .checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
@media (max-width: 852px) {
  * nav .checkbtn {
    display: block;
  }
}
* nav #check {
  display: none;
}
* nav #check:checked ~ ul {
  left: 0;
}
@media (max-width: 852px) {
  * nav {
    position: fixed;
    z-index: 3;
  }
}
* section {
  background-color: #6cdfbc;
  background-size: cover;
  background-position: center center;
}
* section .containerTitle {
  position: static;
  display: flex;
  text-align: center;
  padding-top: 2.5vw;
  justify-content: center;
  width: 60vw;
  margin: 0 auto;
}
* section .containerTitle .titleMascotas {
  font-size: 5vw;
  color: #333;
}
* section .containerTitle .logoErizo {
  width: 8vw;
}
@media (max-width: 852px) {
  * section .containerTitle {
    padding-top: 8rem;
  }
}
* section section {
  position: relative;
  display: flex;
  width: 800px;
  height: 430px;
  margin: 0 auto;
}
@media (max-width: 820px) {
  * section section {
    width: 500px;
  }
}
@media (max-width: 505px) {
  * section section {
    width: 300px;
    height: 200px;
  }
}
* section section img {
  width: 0px;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
* section section img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}
* section .containerTitleCaninos {
  display: inline-block;
  color: #000;
  margin-left: 1rem;
  margin-top: 2rem;
}
* section .containerTitleCaninos .titleCaninos {
  font-size: 5rem;
}
* section .containerTitleCaninos .titleCaninos #fontDog {
  font-size: 3.5rem;
}
@media (max-width: 670px) {
  * section .containerTitleCaninos .titleCaninos #fontDog {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitleCaninos .titleCaninos #fontDog {
    font-size: 1.6rem;
  }
}
@media (max-width: 670px) {
  * section .containerTitleCaninos .titleCaninos {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitleCaninos .titleCaninos {
    font-size: 1.6rem;
  }
}
* section .containerExteriorText {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #888;
  width: 80vw;
  height: 25vh;
  border-radius: 15px;
  box-shadow: #000 -3px -3px 20px;
  overflow: auto;
}
* section .containerExteriorText .containerBackText {
  position: relative;
  display: inline-block;
  background-color: #444;
  border-radius: 30px;
  margin-left: 2rem;
  margin-right: 2rem;
}
* section .containerExteriorText .containerBackText .textMascotas {
  color: #54e7da;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem;
  padding: 1rem 1rem;
  text-align: center;
}
* section .conatinerTextCaninos {
  position: relative;
  margin: 0 auto;
}
* section .conatinerTextCaninos .containerTextCaninosInter .titleCaninosPequeños {
  text-align: center;
  font-size: 2.5rem;
}
* section .conatinerTextCaninosMedianos {
  position: relative;
  margin-top: 2rem;
}
* section .conatinerTextCaninosMedianos .containerTextCaninosInter .titleCaninosPequeños {
  text-align: center;
  font-size: 2.5rem;
}
* section .conatinerTextCaninosGrandes {
  position: relative;
  margin-top: 2rem;
}
* section .conatinerTextCaninosGrandes .containerTextCaninosInter .titleCaninosPequeños {
  text-align: center;
  font-size: 2.5rem;
}
* section .containerTitleMininos {
  display: inline-block;
  color: #000;
  margin-left: 1rem;
  margin-top: 2rem;
}
* section .containerTitleMininos .titleMininos {
  font-size: 5rem;
}
* section .containerTitleMininos .titleMininos #fontCat {
  font-size: 3.5rem;
}
@media (max-width: 670px) {
  * section .containerTitleMininos .titleMininos #fontCat {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitleMininos .titleMininos #fontCat {
    font-size: 1.6rem;
  }
}
@media (max-width: 670px) {
  * section .containerTitleMininos .titleMininos {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitleMininos .titleMininos {
    font-size: 1.6rem;
  }
}
* section .conatinerTextMininosCorto {
  position: relative;
  margin-top: 2rem;
}
* section .conatinerTextMininosCorto .containerTextMininosInter .titleMininosPequeños {
  text-align: center;
  font-size: 2.5rem;
}
* section .conatinerTextMininosMediano {
  position: relative;
  margin-top: 2rem;
}
* section .conatinerTextMininosMediano .containerTextMininosInter .titleMininosPequeños {
  text-align: center;
  font-size: 2.5rem;
}
* section .conatinerTextMininosLargo {
  position: relative;
  margin-top: 2rem;
}
* section .conatinerTextMininosLargo .containerTextMininosInter .titleMininosLargos {
  text-align: center;
  font-size: 2.5rem;
}
* section .containerTitleLagartos {
  display: inline-block;
  color: #000;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
* section .containerTitleLagartos .titleLagartos {
  font-size: 5rem;
}
* section .containerTitleLagartos .titleLagartos #fontLizard {
  font-size: 3rem;
}
@media (max-width: 670px) {
  * section .containerTitleLagartos .titleLagartos #fontLizard {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitleLagartos .titleLagartos #fontLizard {
    font-size: 1.6rem;
  }
}
@media (max-width: 670px) {
  * section .containerTitleLagartos .titleLagartos {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitleLagartos .titleLagartos {
    font-size: 1.6rem;
  }
}
* section .containerTitleErizos {
  display: inline-block;
  color: #000;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
* section .containerTitleErizos .titleErizos {
  font-size: 5rem;
}
@media (max-width: 670px) {
  * section .containerTitleErizos .titleErizos {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitleErizos .titleErizos {
    font-size: 1.6rem;
  }
}
* section .containerTitlePeces {
  display: inline-block;
  color: #000;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
* section .containerTitlePeces .titlePeces {
  font-size: 5rem;
}
* section .containerTitlePeces .titlePeces #fontFish {
  font-size: 4rem;
}
@media (max-width: 670px) {
  * section .containerTitlePeces .titlePeces #fontFish {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitlePeces .titlePeces #fontFish {
    font-size: 1.6rem;
  }
}
@media (max-width: 670px) {
  * section .containerTitlePeces .titlePeces {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitlePeces .titlePeces {
    font-size: 1.6rem;
  }
}
* section .containerTitlePajaros {
  display: inline-block;
  color: #000;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
* section .containerTitlePajaros .titlePajaros {
  font-size: 5rem;
}
@media (max-width: 670px) {
  * section .containerTitlePajaros .titlePajaros {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitlePajaros .titlePajaros {
    font-size: 1.6rem;
  }
}
* section .containerTitlePajaros {
  display: inline-block;
  color: #000;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
* section .containerTitlePajaros .titlePajaros {
  font-size: 5rem;
}
@media (max-width: 670px) {
  * section .containerTitlePajaros .titlePajaros .iconoBird {
    width: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitlePajaros .titlePajaros .iconoBird {
    width: 1.6rem;
  }
}
@media (max-width: 670px) {
  * section .containerTitlePajaros .titlePajaros {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitlePajaros .titlePajaros {
    font-size: 1.6rem;
  }
}
* section .containerTitleCangrejo {
  display: inline-block;
  color: #000;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
* section .containerTitleCangrejo .titleCangrejo {
  font-size: 5rem;
}
* section .containerTitleCangrejo .titleCangrejo .iconoCangrejo {
  width: 5rem;
}
@media (max-width: 670px) {
  * section .containerTitleCangrejo .titleCangrejo .iconoCangrejo {
    width: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitleCangrejo .titleCangrejo .iconoCangrejo {
    width: 0.5rem;
  }
}
@media (max-width: 670px) {
  * section .containerTitleCangrejo .titleCangrejo {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitleCangrejo .titleCangrejo {
    font-size: 1.6rem;
  }
}
* section .containerTitleSerpiente {
  display: inline-block;
  color: #000;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
* section .containerTitleSerpiente .titleSerpiente {
  font-size: 5rem;
}
* section .containerTitleSerpiente .titleSerpiente .iconoSerpiente {
  width: 4rem;
}
@media (max-width: 670px) {
  * section .containerTitleSerpiente .titleSerpiente .iconoSerpiente {
    width: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitleSerpiente .titleSerpiente .iconoSerpiente {
    width: 1.6rem;
  }
}
@media (max-width: 670px) {
  * section .containerTitleSerpiente .titleSerpiente {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitleSerpiente .titleSerpiente {
    font-size: 1.6rem;
  }
}
* section .containerTitleLiebre {
  display: inline-block;
  color: #000;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
* section .containerTitleLiebre .titleLiebre {
  font-size: 5rem;
}
@media (max-width: 670px) {
  * section .containerTitleLiebre .titleLiebre {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitleLiebre .titleLiebre {
    font-size: 1.6rem;
  }
}
* section .containerTitleConejo {
  display: inline-block;
  color: #000;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
* section .containerTitleConejo .titleConejo {
  font-size: 5rem;
}
@media (max-width: 670px) {
  * section .containerTitleConejo .titleConejo .iconoConejo {
    width: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitleConejo .titleConejo .iconoConejo {
    width: 1.6rem;
  }
}
@media (max-width: 670px) {
  * section .containerTitleConejo .titleConejo {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitleConejo .titleConejo {
    font-size: 1.6rem;
  }
}
* section .containerTitleCuyos {
  display: inline-block;
  color: #000;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
* section .containerTitleCuyos .titleCuyos {
  font-size: 5rem;
}
@media (max-width: 670px) {
  * section .containerTitleCuyos .titleCuyos {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * section .containerTitleCuyos .titleCuyos {
    font-size: 1.6rem;
  }
}
* section .piePagina {
  margin-top: 7rem;
  bottom: 0;
  width: 100%;
  background-color: #0a141d;
}
* section .piePagina .grupo1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
* section .piePagina .grupo1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
* section .piePagina .grupo1 .box figure img {
  width: 250px;
}
* section .piePagina .grupo1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
* section .piePagina .grupo1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
* section .piePagina .grupo1 .redSocial a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
* section .piePagina .grupo1 .redSocial a:hover {
  color: #00cdff;
}
* section .piePagina .grupo2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
* section .piePagina .grupo2 small {
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  * section .piePagina .grupo1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

* nav {
  background-color: #2fcfcf;
  height: 80px;
  width: 100%;
  z-index: 2;
}
* nav .enlace {
  position: absolute;
  padding: 10px 50px;
}
@media (max-width: 952px) {
  * nav .enlace .enlace {
    padding-left: 10px;
  }
}
* nav .logo {
  position: absolute;
  width: 60px;
}
* nav ul {
  float: right;
  margin-right: 20px;
}
@media (max-width: 852px) {
  * nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 3;
  }
}
* nav li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
@media (max-width: 852px) {
  * nav li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
}
* nav a {
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
@media (max-width: 952px) {
  * nav a {
    font-size: 16px;
  }
}
@media (max-width: 852px) {
  * nav a {
    font-size: 20px;
    z-index: 2;
  }
}
* nav li a.active,
* nav li a:hover {
  background-color: #000090;
  transition: 0.5s;
  z-index: 2;
}
@media (max-width: 852px) {
  * nav li a.active,
  * nav li a:hover {
    background: none;
    color: red;
    z-index: 2;
  }
}
* nav .checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
@media (max-width: 852px) {
  * nav .checkbtn {
    display: block;
  }
}
* nav #check {
  display: none;
}
* nav #check:checked ~ ul {
  left: 0;
}
@media (max-width: 852px) {
  * nav {
    position: fixed;
    z-index: 3;
  }
}
* section .containerCardComida {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
* section .containerCardComida #cartaComidaPerro1 {
  margin-top: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
}
@media (max-width: 852px) {
  * section .containerCardComida #cartaComidaPerro1 {
    width: 10rem;
  }
}
@media (max-width: 350px) {
  * section .containerCardComida #cartaComidaPerro1 {
    width: 8rem;
  }
}
@media (max-width: 700px) {
  * section .containerCardComida #cartaComidaPerro1 #parrafoCard {
    display: none;
  }
}
* section .containerCardComida #cartaComidaPerro1 #perroComidaImg {
  width: 25rem;
}
@media (max-width: 852px) {
  * section .containerCardComida #cartaComidaPerro1 #perroComidaImg {
    margin-left: 5vw;
    width: 15rem;
  }
}
* section .containerCardComida #cartaComidaErizo1 {
  margin-top: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  width: 18rem;
}
@media (max-width: 852px) {
  * section .containerCardComida #cartaComidaErizo1 {
    width: 10rem;
  }
}
@media (max-width: 350px) {
  * section .containerCardComida #cartaComidaErizo1 {
    width: 7.5rem;
  }
}
@media (max-width: 700px) {
  * section .containerCardComida #cartaComidaErizo1 #parrafoCard {
    display: none;
  }
}
* section .containerCardComida #cartaComidaErizo1 #imgComidaErizo {
  width: 15.5rem;
}
@media (max-width: 852px) {
  * section .containerCardComida #cartaComidaErizo1 #imgComidaErizo {
    width: 8.6rem;
  }
}
@media (max-width: 350px) {
  * section .containerCardComida #cartaComidaErizo1 #imgComidaErizo {
    width: 7rem;
  }
}
* section .containerCardComida #cartaComidaErizo1 #imgModalErizo {
  width: 25rem;
}
@media (max-width: 852px) {
  * section .containerCardComida #cartaComidaErizo1 #imgModalErizo {
    margin-left: 10vw;
    width: 15rem;
  }
}
* section .containerCardComida #cartaComidaPeces {
  margin-top: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  width: 18rem;
  height: 33.5rem;
}
@media (max-width: 852px) {
  * section .containerCardComida #cartaComidaPeces {
    width: 10rem;
  }
}
@media (max-width: 700px) {
  * section .containerCardComida #cartaComidaPeces {
    height: 22.5rem;
  }
}
@media (max-width: 350px) {
  * section .containerCardComida #cartaComidaPeces {
    width: 7.5rem;
    height: 24.5rem;
  }
}
@media (max-width: 350px) {
  * section .containerCardComida #cartaComidaPeces #imgComidaPeces {
    width: 7rem;
  }
}
@media (max-width: 700px) {
  * section .containerCardComida #cartaComidaPeces #parrafoCard {
    display: none;
  }
}
* section .containerCardComida #cartaComidaPeces #imgModalPeces {
  width: 27rem;
}
@media (max-width: 852px) {
  * section .containerCardComida #cartaComidaPeces #imgModalPeces {
    width: 18rem;
  }
}
* section .containerCardComida #cartaComidaReptil {
  margin-top: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  width: 18rem;
}
@media (max-width: 852px) {
  * section .containerCardComida #cartaComidaReptil {
    width: 10rem;
  }
}
@media (max-width: 350px) {
  * section .containerCardComida #cartaComidaReptil {
    width: 7.5rem;
  }
}
@media (max-width: 700px) {
  * section .containerCardComida #cartaComidaReptil #parrafoCard {
    display: none;
  }
}
* section .containerCardComida #cartaComidaReptil #imgComidaReptil {
  width: 12rem;
}
@media (max-width: 852px) {
  * section .containerCardComida #cartaComidaReptil #imgComidaReptil {
    width: 5.8rem;
  }
}
* section .containerCardComida #cartaComidaReptil #imgModalReptil {
  width: 15rem;
}
@media (max-width: 852px) {
  * section .containerCardComida #cartaComidaReptil #imgModalReptil {
    width: 8 rem;
  }
}
* section .containerCardComida #cartaComidaConejo {
  margin-top: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  width: 18rem;
}
@media (max-width: 852px) {
  * section .containerCardComida #cartaComidaConejo {
    width: 10rem;
  }
}
@media (max-width: 350px) {
  * section .containerCardComida #cartaComidaConejo {
    width: 7.5rem;
  }
}
@media (max-width: 700px) {
  * section .containerCardComida #cartaComidaConejo #parrafoCard {
    display: none;
  }
}
* section .containerCardComida #cartaComidaConejo #imgModalModal {
  width: 20rem;
}
@media (max-width: 852px) {
  * section .containerCardComida #cartaComidaConejo #imgModalModal {
    width: 20rem;
  }
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
* nav {
  background-color: #2fcfcf;
  height: 80px;
  width: 100%;
  z-index: 2;
}
* nav .enlace {
  position: absolute;
  padding: 10px 50px;
}
@media (max-width: 952px) {
  * nav .enlace .enlace {
    padding-left: 10px;
  }
}
* nav .logo {
  position: absolute;
  width: 60px;
}
* nav ul {
  float: right;
  margin-right: 20px;
}
@media (max-width: 852px) {
  * nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 3;
  }
}
* nav li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
@media (max-width: 852px) {
  * nav li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
}
* nav a {
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
@media (max-width: 952px) {
  * nav a {
    font-size: 16px;
  }
}
@media (max-width: 852px) {
  * nav a {
    font-size: 20px;
    z-index: 2;
  }
}
* nav li a.active li a:hover {
  background-color: #000090;
  transition: 0.5s;
  z-index: 2;
}
@media (max-width: 852px) {
  * nav li a.active li a:hover {
    background: none;
    color: red;
    z-index: 2;
  }
}
* nav .checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
@media (max-width: 852px) {
  * nav .checkbtn {
    display: block;
  }
}
* nav #check {
  display: none;
}
* nav #check:checked ~ ul {
  left: 0;
}
@media (max-width: 852px) {
  * nav {
    position: fixed;
    z-index: 3;
  }
}
* section {
  background-color: #6cdfbc;
  background-size: cover;
  background-position: center center;
}
* section .containerSection1 {
  margin-top: 4rem;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
* section #containerExteriorTextSobreNosotros {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #888;
  width: 80vw;
  height: 55vh;
  border-radius: 15px;
  box-shadow: #000 -3px -3px 20px;
  overflow: auto;
}
* section #containerExteriorTextSobreNosotros .centrate {
  display: flex;
  width: 50%;
  height: 50%;
  margin: auto;
}
* section #containerExteriorTextSobreNosotros #bannerTMI {
  position: relative;
  display: inline-block;
  margin: auto;
  width: 20vw;
}
* section #containerExteriorTextSobreNosotros #containerBackTextSobreNosotros {
  position: relative;
  display: inline-block;
  background-color: #444;
  border-radius: 30px;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
* section #containerExteriorTextSobreNosotros #containerBackTextSobreNosotros #textSobreNosotros {
  color: #54e7da;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem;
  padding: 1rem 1rem;
  text-align: center;
}
* .piePagina {
  margin-top: 7rem;
  bottom: 0;
  width: 100%;
  background-color: #0a141d;
}
* .piePagina .grupo1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
* .piePagina .grupo1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
* .piePagina .grupo1 .box figure img {
  width: 250px;
}
* .piePagina .grupo1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
* .piePagina .grupo1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
* .piePagina .grupo1 .redSocial a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
* .piePagina .grupo1 .redSocial a:hover {
  color: #00cdff;
}
* .piePagina .grupo2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
* .piePagina .grupo2 small {
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  * .piePagina .grupo1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
* body {
  background-color: #aaa;
}
* body nav {
  background-color: #2fcfcf;
  height: 80px;
  width: 100%;
  z-index: 2;
}
* body nav .enlace {
  position: absolute;
  padding: 10px 50px;
}
@media (max-width: 952px) {
  * body nav .enlace .enlace {
    padding-left: 10px;
  }
}
* body nav .logo {
  position: absolute;
  width: 60px;
}
* body nav ul {
  float: right;
  margin-right: 20px;
}
@media (max-width: 852px) {
  * body nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 3;
  }
}
* body nav li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
@media (max-width: 852px) {
  * body nav li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
}
* body nav a {
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
@media (max-width: 952px) {
  * body nav a {
    font-size: 16px;
  }
}
@media (max-width: 852px) {
  * body nav a {
    font-size: 20px;
    z-index: 2;
  }
}
* body nav li a.active li a:hover {
  background-color: #000090;
  transition: 0.5s;
  z-index: 2;
}
@media (max-width: 852px) {
  * body nav li a.active li a:hover {
    background: none;
    color: red;
    z-index: 2;
  }
}
* body nav .checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
@media (max-width: 852px) {
  * body nav .checkbtn {
    display: block;
  }
}
* body nav #check {
  display: none;
}
* body nav #check:checked ~ ul {
  left: 0;
}
@media (max-width: 852px) {
  * body nav {
    position: fixed;
    z-index: 3;
  }
}
* body section {
  background-color: #6cdfbc;
  background-size: cover;
  background-position: center center;
}
* body section .tittlePage {
  position: static;
  display: flex;
  text-align: center;
  padding-top: 2.5vw;
  justify-content: center;
  width: 60vw;
  margin: 0 auto;
}
@media (max-width: 852px) {
  * body section .tittlePage {
    padding-top: 8rem;
  }
}
* body section .tittle {
  font-size: 5vw;
  color: #333;
}
* body section .logoErizo {
  width: 8vw;
}
* body section .tittleErizo {
  font-size: 3vw;
}
* body section .tittlePajaro {
  font-size: 3vw;
}
* body section .tittleTortuga {
  font-size: 3vw;
}
* body section .textAnimal {
  color: #000;
  font-size: 2.5vw;
}
* body section .textAnimalPajaro {
  color: rgb(255, 0, 34);
  font-size: 2.5vw;
}
* body section .textAnimalTortuga {
  color: #fff;
  font-size: 2.5vw;
}
* body section .backContainerInfo {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #888;
  width: 80vw;
  height: 90vh;
  border-radius: 15px;
  box-shadow: #000 -3px -3px 20px;
}
* body section .backContainerInfo .container {
  position: relative;
  display: inline-block;
  background-color: #444;
  border-radius: 30px;
  margin: 2rem 2rem;
}
* body section .backContainerInfo .container .infoText {
  color: #54e7da;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem;
  padding: 1rem 1rem;
}
* body section .containerTitleAlimentacion {
  margin-top: 2rem;
}
* body section .containerTitleAlimentacion .titleAlimentacion {
  display: inline-block;
  color: #333;
  margin-left: 2rem;
  font-size: 2.5rem;
}
@media (max-width: 670px) {
  * body section .containerTitleAlimentacion .titleAlimentacion {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * body section .containerTitleAlimentacion .titleAlimentacion {
    font-size: 1.6rem;
  }
}
* body section .containerTitleAlimentacion #btnAlimentacion {
  float: right;
  width: 8rem;
  margin-right: 5rem;
  margin-top: 0.5rem;
}
@media (max-width: 670px) {
  * body section .containerTitleAlimentacion #btnAlimentacion {
    width: 6rem;
    margin-right: 1rem;
  }
}
@media (max-width: 576px) {
  * body section .containerTitleAlimentacion #btnAlimentacion {
    display: none;
  }
}
* body section .containerTitleAlimentacion .lineaAlimentacion {
  color: black;
}
* body section .containerBackComida {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  height: 20rem;
}
* body section .containerBackComida #cardComidaPerro {
  margin-left: 2rem;
  width: 25vw;
}
@media (max-width: 506px) {
  * body section .containerBackComida #cardComidaPerro {
    width: 40vw;
  }
}
* body section .containerBackComida #cardComidaPerro #imageComidaPerro {
  width: 10vw;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 506px) {
  * body section .containerBackComida #cardComidaPerro #imageComidaPerro {
    margin-top: 1rem;
    width: 20vw;
  }
}
* body section .containerBackComida #cardComidaPerro #btnComidaPerro {
  text-align: center;
  font-size: 1rem;
  margin-top: -2rem;
}
@media (max-width: 387px) {
  * body section .containerBackComida #cardComidaPerro #btnComidaPerro {
    font-size: 0.7rem;
  }
}
* body section .containerBackComida #cardComidaErizo {
  width: 25vw;
  margin-left: 2rem;
}
@media (max-width: 506px) {
  * body section .containerBackComida #cardComidaErizo {
    display: none;
  }
}
@media (max-width: 506px) {
  * body section .containerBackComida #cardComidaErizo {
    width: 40vw;
  }
}
* body section .containerBackComida #cardComidaErizo #imageComidaErizo {
  width: 14vw;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 506px) {
  * body section .containerBackComida #cardComidaErizo #imageComidaErizo {
    margin-top: 1rem;
    width: 30vw;
  }
}
* body section .containerBackComida #cardComidaErizo #btnComidaErizo {
  text-align: center;
  font-size: 1rem;
  margin-top: -2rem;
}
@media (max-width: 387px) {
  * body section .containerBackComida #cardComidaErizo #btnComidaErizo {
    font-size: 0.7rem;
  }
}
* body section .containerBackComida #cardComidaReptil {
  width: 25vw;
  margin-left: 2rem;
}
@media (max-width: 639px) {
  * body section .containerBackComida #cardComidaReptil {
    display: none;
  }
}
@media (max-width: 506px) {
  * body section .containerBackComida #cardComidaReptil {
    width: 40vw;
    height: 58vh;
  }
}
* body section .containerBackComida #cardComidaReptil #imageComidaReptil {
  width: 12vw;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 506px) {
  * body section .containerBackComida #cardComidaReptil #imageComidaReptil {
    margin-top: 1rem;
    width: 30vw;
  }
}
* body section .containerBackComida #cardComidaReptil #btnComidaReptil {
  text-align: center;
  font-size: 1rem;
  margin-top: -2rem;
}
@media (max-width: 387px) {
  * body section .containerBackComida #cardComidaReptil #btnComidaReptil {
    font-size: 0.7rem;
  }
}
* body section .containerTitleJuguetes {
  margin-top: 3rem;
}
* body section .containerTitleJuguetes .titleJuguetes {
  display: inline-block;
  color: #333;
  margin-left: 2rem;
  font-size: 2.5rem;
}
@media (max-width: 670px) {
  * body section .containerTitleJuguetes .titleJuguetes {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * body section .containerTitleJuguetes .titleJuguetes {
    font-size: 1.6rem;
  }
}
* body section .containerTitleJuguetes #btnJuguetes {
  float: right;
  width: 8rem;
  margin-right: 5rem;
  margin-top: 0.5rem;
}
@media (max-width: 670px) {
  * body section .containerTitleJuguetes #btnJuguetes {
    width: 6rem;
    margin-right: 1rem;
  }
}
@media (max-width: 576px) {
  * body section .containerTitleJuguetes #btnJuguetes {
    display: none;
  }
}
* body section .containerTitleJuguetes .lineaJuguetes {
  color: red;
}
* body section .containerBackJuguetes {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  height: 20rem;
}
* body section .containerBackJuguetes #cardJuguetePerro {
  width: 25vw;
}
@media (max-width: 506px) {
  * body section .containerBackJuguetes #cardJuguetePerro {
    width: 40vw;
    height: 50vh;
  }
}
* body section .containerBackJuguetes #cardJuguetePerro #imageJuguetePerro {
  width: 15vw;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 506px) {
  * body section .containerBackJuguetes #cardJuguetePerro #imageJuguetePerro {
    margin-top: 1rem;
    width: 20vw;
  }
}
* body section .containerBackJuguetes #cardJuguetePerro #btnComidaPerro {
  text-align: center;
  font-size: 1rem;
  margin-top: -2rem;
}
@media (max-width: 387px) {
  * body section .containerBackJuguetes #cardJuguetePerro #btnComidaPerro {
    font-size: 0.7rem;
  }
}
* body section .containerBackJuguetes #cardJugueteGato {
  width: 25vw;
  margin-left: 2rem;
}
@media (max-width: 506px) {
  * body section .containerBackJuguetes #cardJugueteGato {
    width: 40vw;
    height: 50vh;
  }
}
@media (max-width: 506px) {
  * body section .containerBackJuguetes #cardJugueteGato {
    display: none;
  }
}
* body section .containerBackJuguetes #cardJugueteGato #imageJugueteGato {
  width: 15vw;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 506px) {
  * body section .containerBackJuguetes #cardJugueteGato #imageJugueteGato {
    margin-top: 1rem;
    width: 20vw;
  }
}
* body section .containerBackJuguetes #cardJugueteGato #btnComidaGato {
  text-align: center;
  font-size: 0.9rem;
  margin-top: -0.2rem;
}
@media (max-width: 387px) {
  * body section .containerBackJuguetes #cardJugueteGato #btnComidaGato {
    font-size: 0.7rem;
  }
}
* body section .containerBackJuguetes #cardJugueteErizo {
  width: 25vw;
  margin-left: 2rem;
}
@media (max-width: 639px) {
  * body section .containerBackJuguetes #cardJugueteErizo {
    display: none;
  }
}
* body section .containerBackJuguetes #cardJugueteErizo #imageJugueteErizo {
  width: 20vw;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
* body section .containerBackJuguetes #cardJugueteErizo #btnJugueteErizo {
  text-align: center;
  font-size: 1rem;
  margin-top: -0.2rem;
}
* body section .piePagina {
  margin-top: 7rem;
  bottom: 0;
  width: 100%;
  background-color: #0a141d;
}
* body section .piePagina .grupo1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
* body section .piePagina .grupo1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
* body section .piePagina .grupo1 .box figure img {
  width: 250px;
}
* body section .piePagina .grupo1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
* body section .piePagina .grupo1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
* body section .piePagina .grupo1 .redSocial a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
* body section .piePagina .grupo1 .redSocial a:hover {
  color: #00cdff;
}
* body section .piePagina .grupo2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
* body section .piePagina .grupo2 small {
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  * body section .piePagina .grupo1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}/*# sourceMappingURL=home.css.map */