* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
* body {
  background-color: #aaa;
}
* body nav {
  background-color: #2fcfcf;
  height: 80px;
  width: 100%;
  z-index: 2;
}
* body nav .enlace {
  position: absolute;
  padding: 10px 50px;
}
@media (max-width: 952px) {
  * body nav .enlace .enlace {
    padding-left: 10px;
  }
}
* body nav .logo {
  position: absolute;
  width: 60px;
}
* body nav ul {
  float: right;
  margin-right: 20px;
}
@media (max-width: 852px) {
  * body nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 3;
  }
}
* body nav li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
@media (max-width: 852px) {
  * body nav li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
}
* body nav a {
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
@media (max-width: 952px) {
  * body nav a {
    font-size: 16px;
  }
}
@media (max-width: 852px) {
  * body nav a {
    font-size: 20px;
    z-index: 2;
  }
}
* body nav li a.active,
* body nav li a:hover {
  background-color: #000090;
  transition: 0.5s;
  z-index: 2;
}
@media (max-width: 852px) {
  * body nav li a.active,
  * body nav li a:hover {
    background: none;
    color: red;
    z-index: 2;
  }
}
* body nav .checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
@media (max-width: 852px) {
  * body nav .checkbtn {
    display: block;
  }
}
* body nav #check {
  display: none;
}
* body nav #check:checked ~ ul {
  left: 0;
}
@media (max-width: 852px) {
  * body nav {
    position: fixed;
    z-index: 3;
  }
}
* body section {
  background-color: #6cdfbc;
  background-size: cover;
  background-position: center center;
}
* body section .tittlePage {
  position: static;
  display: flex;
  text-align: center;
  padding-top: 2.5vw;
  justify-content: center;
  width: 60vw;
  margin: 0 auto;
}
@media (max-width: 852px) {
  * body section .tittlePage {
    padding-top: 8rem;
  }
}
* body section .tittle {
  font-size: 5vw;
  color: #333;
}
* body section .logoErizo {
  width: 8vw;
}
* body section .tittleErizo {
  font-size: 3vw;
}
* body section .tittlePajaro {
  font-size: 3vw;
}
* body section .tittleTortuga {
  font-size: 3vw;
}
* body section .textAnimal {
  color: #000;
  font-size: 2.5vw;
}
* body section .textAnimalPajaro {
  color: rgb(255, 0, 34);
  font-size: 2.5vw;
}
* body section .textAnimalTortuga {
  color: #fff;
  font-size: 2.5vw;
}
* body section .backContainerInfo {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #888;
  width: 80vw;
  height: 90vh;
  border-radius: 15px;
  box-shadow: #000 -3px -3px 20px;
}
* body section .backContainerInfo .container {
  position: relative;
  display: inline-block;
  background-color: #444;
  border-radius: 30px;
  margin: 2rem 2rem;
}
* body section .backContainerInfo .container .infoText {
  color: #54e7da;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem;
  padding: 1rem 1rem;
}
* body section .containerTitleAlimentacion {
  margin-top: 2rem;
}
* body section .containerTitleAlimentacion .titleAlimentacion {
  display: inline-block;
  color: #333;
  margin-left: 2rem;
  font-size: 2.5rem;
}
@media (max-width: 670px) {
  * body section .containerTitleAlimentacion .titleAlimentacion {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * body section .containerTitleAlimentacion .titleAlimentacion {
    font-size: 1.6rem;
  }
}
* body section .containerTitleAlimentacion #btnAlimentacion {
  float: right;
  width: 8rem;
  margin-right: 5rem;
  margin-top: 0.5rem;
}
@media (max-width: 670px) {
  * body section .containerTitleAlimentacion #btnAlimentacion {
    width: 6rem;
    margin-right: 1rem;
  }
}
@media (max-width: 576px) {
  * body section .containerTitleAlimentacion #btnAlimentacion {
    display: none;
  }
}
* body section .containerTitleAlimentacion .lineaAlimentacion {
  color: black;
}
* body section .containerBackComida {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  height: 20rem;
}
* body section .containerBackComida #cardComidaPerro {
  margin-left: 2rem;
  width: 25vw;
}
@media (max-width: 506px) {
  * body section .containerBackComida #cardComidaPerro {
    width: 40vw;
  }
}
* body section .containerBackComida #cardComidaPerro #imageComidaPerro {
  width: 10vw;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 506px) {
  * body section .containerBackComida #cardComidaPerro #imageComidaPerro {
    margin-top: 1rem;
    width: 20vw;
  }
}
* body section .containerBackComida #cardComidaPerro #btnComidaPerro {
  text-align: center;
  font-size: 1rem;
  margin-top: -2rem;
}
@media (max-width: 387px) {
  * body section .containerBackComida #cardComidaPerro #btnComidaPerro {
    font-size: 0.7rem;
  }
}
* body section .containerBackComida #cardComidaErizo {
  width: 25vw;
  margin-left: 2rem;
}
@media (max-width: 506px) {
  * body section .containerBackComida #cardComidaErizo {
    display: none;
  }
}
@media (max-width: 506px) {
  * body section .containerBackComida #cardComidaErizo {
    width: 40vw;
  }
}
* body section .containerBackComida #cardComidaErizo #imageComidaErizo {
  width: 14vw;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 506px) {
  * body section .containerBackComida #cardComidaErizo #imageComidaErizo {
    margin-top: 1rem;
    width: 30vw;
  }
}
* body section .containerBackComida #cardComidaErizo #btnComidaErizo {
  text-align: center;
  font-size: 1rem;
  margin-top: -2rem;
}
@media (max-width: 387px) {
  * body section .containerBackComida #cardComidaErizo #btnComidaErizo {
    font-size: 0.7rem;
  }
}
* body section .containerBackComida #cardComidaReptil {
  width: 25vw;
  margin-left: 2rem;
}
@media (max-width: 639px) {
  * body section .containerBackComida #cardComidaReptil {
    display: none;
  }
}
@media (max-width: 506px) {
  * body section .containerBackComida #cardComidaReptil {
    width: 40vw;
    height: 58vh;
  }
}
* body section .containerBackComida #cardComidaReptil #imageComidaReptil {
  width: 12vw;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 506px) {
  * body section .containerBackComida #cardComidaReptil #imageComidaReptil {
    margin-top: 1rem;
    width: 30vw;
  }
}
* body section .containerBackComida #cardComidaReptil #btnComidaReptil {
  text-align: center;
  font-size: 1rem;
  margin-top: -2rem;
}
@media (max-width: 387px) {
  * body section .containerBackComida #cardComidaReptil #btnComidaReptil {
    font-size: 0.7rem;
  }
}
* body section .containerTitleJuguetes {
  margin-top: 3rem;
}
* body section .containerTitleJuguetes .titleJuguetes {
  display: inline-block;
  color: #333;
  margin-left: 2rem;
  font-size: 2.5rem;
}
@media (max-width: 670px) {
  * body section .containerTitleJuguetes .titleJuguetes {
    font-size: 2rem;
  }
}
@media (max-width: 382px) {
  * body section .containerTitleJuguetes .titleJuguetes {
    font-size: 1.6rem;
  }
}
* body section .containerTitleJuguetes #btnJuguetes {
  float: right;
  width: 8rem;
  margin-right: 5rem;
  margin-top: 0.5rem;
}
@media (max-width: 670px) {
  * body section .containerTitleJuguetes #btnJuguetes {
    width: 6rem;
    margin-right: 1rem;
  }
}
@media (max-width: 576px) {
  * body section .containerTitleJuguetes #btnJuguetes {
    display: none;
  }
}
* body section .containerTitleJuguetes .lineaJuguetes {
  color: red;
}
* body section .containerBackJuguetes {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  height: 20rem;
}
* body section .containerBackJuguetes #cardJuguetePerro {
  width: 25vw;
}
@media (max-width: 506px) {
  * body section .containerBackJuguetes #cardJuguetePerro {
    width: 40vw;
    height: 50vh;
  }
}
* body section .containerBackJuguetes #cardJuguetePerro #imageJuguetePerro {
  width: 15vw;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 506px) {
  * body section .containerBackJuguetes #cardJuguetePerro #imageJuguetePerro {
    margin-top: 1rem;
    width: 20vw;
  }
}
* body section .containerBackJuguetes #cardJuguetePerro #btnComidaPerro {
  text-align: center;
  font-size: 1rem;
  margin-top: -2rem;
}
@media (max-width: 387px) {
  * body section .containerBackJuguetes #cardJuguetePerro #btnComidaPerro {
    font-size: 0.7rem;
  }
}
* body section .containerBackJuguetes #cardJugueteGato {
  width: 25vw;
  margin-left: 2rem;
}
@media (max-width: 506px) {
  * body section .containerBackJuguetes #cardJugueteGato {
    width: 40vw;
    height: 50vh;
  }
}
* body section .containerBackJuguetes #cardJugueteGato #imageJugueteGato {
  width: 15vw;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 506px) {
  * body section .containerBackJuguetes #cardJugueteGato #imageJugueteGato {
    margin-top: 1rem;
    width: 20vw;
  }
}
* body section .containerBackJuguetes #cardJugueteGato #btnComidaGato {
  text-align: center;
  font-size: 1rem;
  margin-top: -0.2rem;
}
@media (max-width: 387px) {
  * body section .containerBackJuguetes #cardJugueteGato #btnComidaGato {
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=home.css.map */